<h1> Comments on a Comment </h1>
<div>
<br>
<div>
  <%= @parent_comment.body %>
  <br> <br>
  </div>
    <%= form_for @comment, url: comment_comments_path, html: {class:'form'} do |f| %>
  <div class='form-group'>
    <%= f.text_area :body, :placeholder => 'Enter your reply', :class => 'form-control'%>
  </div>
    <%= f.submit "Reply", :class =>'btn btn-primary'%>
  <% end %>
</div>